extends layout 

block layout-content 
  h1.text-center.m-2 About Us
    .container.text-center.m-5
      img(src="/img/history.jpg", alt="michael zoro and his family")
      figcaption.blockquote-footer Michael Zoro and his family in their first shop, circa.1905. 
    p.text-center Our mission started in 1905, when our founder Michael Zoro opened a humble shop in downtown Toronto. 
    p.text-center Since day one, We have only provided the highest quality jewelry in Toronto. This is evident by the fact we are rated Toronto's #1 jewelry shop!
    p.text-center Visit our location at 123 Zoro street, Toronto!
    .container.text-center.m-5
      img(src="/img/map.jpg", alt="")